<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index_style.css">
</head>
<body>
    <div class="content">
        <h1>飛上</h1>
        <p>부표 인식을 통한 해양 어업 모니터링</p>
        <div class="background-image">
            <img src="static\images\drone.png" alt="Drone Image" style="max-width: 10%; height: auto" class="drone-image">
        </div>
    </div>
    <div class="grid-container">
        <a href="/page1" class="grid-item">
            <h2>부표 데이터</h2>
        </a>
        <a href="/page2" class="grid-item">
            <h2>양식장 데이터</h2>
        </a>
        <a href="/page3" class="grid-item">
            <h2>오늘의 출항</h2>
        </a>
    </div>
</body>
</html>
