<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/page4_style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
</head>
<body>

<div class="content">
    <h1>양식장 데이터</h1>
</div>

<div class="grid-container">
    <div class="grid-item" style="grid-column: 1 / 2; grid-row: 1 / 3;" id="currentTime">
    </div>
    <div class="grid-item" style="grid-column: 1 / 2; grid-row: 3 / 5;" id="calendarItem">
    </div>
    <div class="grid-item" style="grid-column: 1 / 2; grid-row: 5 / 6;" id="memoItem">
        <textarea class="memo-input" placeholder="메모를 입력하세요..."></textarea>
    </div>

    <div class="grid-item" style="grid-column: 2 / 6; grid-row: 1 / 3; display: grid; grid-gap: 10px; grid-template-columns: repeat(7, 200px); position: relative;" id="chart-grid">
        <div style="position: absolute; top: 10px; left: 10px;">생장률 비교</div>
        <div class="grid-item-content" id="salinity" onclick="openChart('salinity')">염분</div>
        <div class="grid-item-content" id="windSpeed" onclick="openChart('windSpeed')">풍속</div>
        <div class="grid-item-content" id="pressure" onclick="openChart('pressure')">기압</div>
        <div class="grid-item-content" id="humidity" onclick="openChart('humidity')">습도</div>
        <div class="grid-item-content" id="temperature" onclick="openChart('temperature')">기온</div>
        <div class="grid-item-content" id="seaTemperature" onclick="openChart('seaTemperature')">수온</div>
        <div class="grid-item-content" onclick="openChart('growthRate')">월별 생장률</div>
    </div>

    <div class="grid-item" style="grid-column: 3 / 4; grid-row: 3 / 6;">
        <div style="position: absolute; top: 10px; left: 10px;">생장 달성률</div><canvas id="buoyChart"></canvas></div>
    <div class="grid-item" style="grid-column: 4 / 5; grid-row: 3 / 6;">
        <div style="position: absolute; top: 10px; left: 10px;">불량률</div><canvas id="defectDonutChart"></canvas></div>
    <div class="grid-item" style="grid-column: 5 / 6; grid-row: 3 / 6;">
        <div style="position: absolute; top: 10px; left: 10px;">납기일</div><canvas id="deadlineDonutChart"></canvas></div>

    <div class="grid-item" style="grid-column: 2 / 3; grid-row: 3 / 4;">
        <div style="position: absolute; top: 10px; left: 10px;">최적 수확일</div>{{ buoy_data[0][2] }}</div>
    <div class="grid-item" style="grid-column: 2 / 3; grid-row: 4 / 6;">
        <div style="position: absolute; top: 10px; left: 10px;">시장 관리</div>{{ price_data[0][0] }}: {{ price_data[0][8] }}원</div></div>
    
    <div class="grid-item" style="grid-column: 2 / 6; grid-row: 5 / 6;">
        <div class="center-content">
            <div style="position: absolute; top: 10px; left: 10px;">NEWS</div>
            <ul id="newsList">
                {% for title, link in news_data %}
                <li style="display: none;"><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
